<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CKF | General</title>
    <link href="CSS/general.css" rel="stylesheet">
</head>
<body class="theme dark two">
    <header>
        <nav class="theme dark transparent">
            <ul>
                <li class="center start"><a class="center hover" href="/">Home</a></li>
                <li class="center"><a class="center hover" href="">Contact</a></li>
                <li class="center"><a class="center hover" href="">Other</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <section class="sidebar left outer center">
            <div class="sidebar inner left theme dark one">
                <div class="prof_pic outer center"><div class="center"><img src=""></div></div>
                <div class="outer">
                    <div class="inner">
                        <ul>
                            <li><a class="center" href="">Profile</a></li>
                            <li><a class="center" href="">Home</a></li>
                            <li><a class="center" href="">About</a></li>
                    </div>
                </div>
            </div>
        </section>
        <section class="post_container outer center">
            <div class="post_container inner theme dark one">
            </div>
        </section>
        <section class="user_input">
            <div class="user_input outer center theme dark two">
                <div class="user_input inner center">
                    <textarea></textarea>
                    <button>Post</button>
                </div>
            </div>
        </section>
    </section>
    <script src="JS/general.js"></script>
</body>
</html>
</html>