<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese Kottu Forums</title>
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
</head>
<body class="theme dark two">
    <header>
        <nav class="theme dark transparent">
            <ul>
                <li class="center start"><a class="center hover" href="">Home</a></li>
                <li class="center"><a class="center hover" href="">Contact</a></li>
                <li class="center"><a class="center hover" href="">Other</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <section class="sidebar left outer center">
            <div class="sidebar inner left theme dark one">
                <div class="prof_pic outer center"><div class="center"><img src=""></div></div>
                <div class="outer">
                    <div class="inner">
                        <ul>
                            <li><a class="center" href="">Profile</a></li>
                            <li><a class="center" href="">Home</a></li>
                            <li><a class="center" href="">About</a></li>
                    </div>
                </div>
            </div>
        </section>
        <section class="post_container outer center">
            <div class="post_container inner theme dark one">
                <div class="post general theme dark two hover">
                    <span class="username center">Username</span>
                    <span class="date center">Date</span>
                    <div class="title_container center "><h3 class="title"><a href="/general">General Discussion</a></h3></div>
                </div>
            </div>
        </section>
    </section>
    <script src="JS/index.js"></script>
</body>
</html>